
body{
	background:url("Fondo.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;

}
td a img{
	width:200px;
	height:200px;
	border-radius:10%	
}
td img{
	width:200px;
	height:200px;
	border-radius:10%	
}
table{
		margin:auto;
}
table td{
	padding:40px;
}
